<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th class="<%= 'asc' if params[:direction] == 'asc' && params[:sort] == 'title' %> <%= 'desc' if params[:direction] == 'desc' && params[:sort] == 'title' %>">
        <%= link_to "Title", movies_path(sort: "title", direction: toggle_sort_direction("title")) %>
        <% if params[:sort] == "title" %>
          <%= params[:direction] == "asc" ? "↑" : "↓" %>
        <% end %>
      </th>      
      <th><%= link_to "Rating", movies_path(sort: "rating", direction: toggle_sort_direction("rating")) %></th>
      <th><%= link_to "Release Date", movies_path(sort: "release_date", direction: toggle_sort_direction("release_date")) %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "Show", movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New movie", new_movie_path(sort: params[:sort], direction: params[:direction]) %>
